<div class="text-center jura pt-2 pt-md-5 mx-3">
<h1 class="text-center text-warning fw-bold mt-3 mt-lg-5 mb-4">Welcome to Star Wars Starhips Catalogue!</h1>
<p class="text-white mb-4 mb-lg-5" style="font-size:1.2em">This is your page, Star Wars fan! Here you will find every detail about all the starships that appear in the SW films. <br> Just remember to login (or sign up if you are not registered... aren't you?)... May the force be with you!</p>

<button class="btn btn-warning fw-bold" (click)="homeRoute()" data-testid="nav-button">PRESS TO START</button>
</div>