

.jura{
    font-family: "Jura";
}

.btn-warning:hover {
    font-weight: bolder;
    transition: 1s;
}

.btn-warning {
    transition: 1s;
}

.text-grey{
    color: grey;
}

.hover{
    color:inherit;
}
.hover:hover{
    color: white;
}